<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/CloudstaffTeamManager.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.cloudstaff.manager.CloudstaffTeamManager</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/CloudstaffTeamManager.app/AppIcon29x29@2x.png</string>
			<string>Applications/CloudstaffTeamManager.app/AppIcon29x29.png</string>
			<string>Applications/CloudstaffTeamManager.app/AppIcon40x40@2x.png</string>
			<string>Applications/CloudstaffTeamManager.app/AppIcon57x57@2x.png</string>
			<string>Applications/CloudstaffTeamManager.app/AppIcon57x57.png</string>
			<string>Applications/CloudstaffTeamManager.app/AppIcon60x60@2x.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Lloyd Ernst (M2SRSASR6F)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2015-03-26T02:10:59Z</date>
	<key>Name</key>
	<string>CloudstaffTeamManager</string>
	<key>SchemeName</key>
	<string>CloudstaffTeamManager</string>
</dict>
</plist>
